<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="template.xhtml">

    <ui:define name="content">

        <h:form id="formAthlete">
            <h:graphicImage library="images" name="atlhete.jpg" style="vertical-align: middle; width: 63px; "
                            alt="usuarioIcon"/>
            <p:outputLabel value="Atleta" style="font-size: 250%; vertical-align: middle;"></p:outputLabel>
            <br/>
            <p:separator/>

            <p:messages id="messagesDetails" showDetail="false"/>

            <h:panelGrid columns="4" cellpadding="5" width="100%">


                <p:outputLabel for="nickname" value="Apelido:"/>
                <p:outputLabel for="name" value="Nome:"/>
                <p:outputLabel for="birthdate" value="Data de Nascimento:"/>
                <p:outputLabel for="gender" value="Genêro:"/>

                <p:inputText id="name" value="#{athleteController.selectedAthlete.name}"/>
                <p:inputText id="nickname" value="#{athleteController.selectedAthlete.nickname}"/>
                <p:calendar id="birthdate"
                            pattern="dd/MM/yyyy"
                            value="#{athleteController.selectedAthlete.birthDate}"
                            showOn="button"/>
                <p:selectOneMenu id="gender"
                                 converter="genderConverter"
                                 value="#{athleteController.selectedAthlete.gender}">
                    <f:selectItems value="#{athleteController.genders}" var="item" itemLabel="#{item.description}"
                                   itemValue="#{item}"/>
                </p:selectOneMenu>

                <p:outputLabel for="graduation" value="Graduação:"/>
                <p:outputLabel for="started_at" value="Data de Inscrição:"/>
                <p:outputLabel for="height" value="Altura:"/>
                <p:outputLabel for="weight" value="Peso:"/>

                <p:selectOneMenu id="graduation"
                                 converter="graduationConverter"
                                 value="#{athleteController.selectedAthlete.graduation}">
                    <f:selectItems value="#{athleteController.graduations}" var="item" itemLabel="#{item.description}"
                                   itemValue="#{item}"/>
                </p:selectOneMenu>
                <p:calendar id="started_at"
                            pattern="dd/MM/yyyy"
                            value="#{athleteController.selectedAthlete.startedAt}"
                            showOn="button"/>
                <p:inputNumber id="height" value="#{athleteController.selectedAthlete.height}">
                </p:inputNumber>
                <p:inputNumber id="weight" value="#{athleteController.selectedAthlete.weight}"
                               decimalPlaces="2">
                </p:inputNumber>

                <p:outputLabel for="phone" value="Telefone:"/>
                <p:outputLabel for="address" value="Endereço:"/>
                <p:outputLabel for="emergency_contact" value="Contato em caso de emergência:"/>
                <p:outputLabel for="coach" value="Instrutor:"/>


                <p:inputMask id="phone" value="#{athleteController.selectedAthlete.phone}"
                             mask="(999) 999-9999"/>

                <p:inputText id="address" value="#{athleteController.selectedAthlete.address}"/>

                <p:inputText id="emergency_contact"
                             value="#{athleteController.selectedAthlete.emergencyContact}"/>

                <p:selectBooleanCheckbox id="coach"
                                         value="#{athleteController.selectedAthlete.coach}"/>


                <p:outputLabel for="updated_at" value="Última atualização:"/>
                <p:outputLabel for="created_at" value=""/>
                <p:outputLabel for="id" value=""/>
                <p:outputLabel for="active" value=""/>

                <p:calendar id="updated_at"
                            pattern="dd/MM/yyyy"
                            value="#{athleteController.selectedAthlete.updatedAt}"
                            showOn="none" readonly="true" />
                <h:inputHidden id="created_at" value="#{athleteController.selectedAthlete.createdAt}"> <f:convertDateTime pattern="dd/MM/yyyy"/>  </h:inputHidden>

                <h:inputHidden id="id" value="#{athleteController.selectedAthlete.id}"></h:inputHidden>
                <h:inputHidden id="active" value="#{athleteController.selectedAthlete.active}"></h:inputHidden>
            </h:panelGrid>

            <br/>

            <p:commandButton id="btnSaveAthlete" style="width: 15%;"
                             action="#{athleteController.saveAthlete}" value="Salvar"
                             update="formAthlete"
                             icon="fa fa-save"/>
            <p:separator/>

            <br/>
            <br/>

            <p:outputLabel value="Pesquisar atleta" style="font-size: 150%; vertical-align: middle;"></p:outputLabel>

            <p:panelGrid columns="3" cellpadding="5" width="100%">

                <p:outputLabel for="searchName" value="Nome:"/>
                <p:outputLabel for="searchGraduation" value="Faixa:"/>
                <p:outputLabel for="searchGender" value="Gênero:"/>

                <p:inputText id="searchName" value="#{athleteController.searchedAthlete.name}"/>


                <p:selectOneMenu id="searchGraduation"
                                 converter="graduationConverter"
                                 value="#{athleteController.searchedAthlete.graduation}">
                    <f:selectItem  itemLabel="Selecione a faixa" itemValue="" noSelectionOption="true"/>
                    <f:selectItems value="#{athleteController.graduations}" var="item" itemLabel="#{item.description}"
                                   itemValue="#{item}"/>
                </p:selectOneMenu>
                <p:selectOneMenu id="searchGender"
                                 converter="genderConverter"
                                 value="#{athleteController.searchedAthlete.gender}">
                    <f:selectItem  itemLabel="Selecione o gênero" itemValue="" noSelectionOption="true"/>
                    <f:selectItems value="#{athleteController.genders}" var="item" itemLabel="#{item.description}"
                                   itemValue="#{item}"/>
                </p:selectOneMenu>
            </p:panelGrid>
            <br/>

            <p:commandButton id="btnSearchAthlete" style="width: 15%;"
                             action="#{athleteController.searchAthlete}" value="Pesquisar"
                             update="formAthlete"
                             icon="fa fa-search"/>


            <br/>
            <br/>

            <p:separator/>


            <p:dataTable id="athleteDataTable" var="athlete"
                         value="#{athleteController.athleteList}" paginator="true" rowsPerPageTemplate="5,10,15"
                         emptyMessage="Não foi encontrado nenhum atleta.">

                <p:column headerText="Nome">
                    <h:outputText value="#{athlete.name}">
                    </h:outputText>
                </p:column>

                <p:column headerText="Faixa">
                    <h:outputText value="#{athlete.graduation.description}">
                    </h:outputText>
                </p:column>

                <p:column headerText="Idade">
                    <h:outputText value="#{athlete.age}">
                    </h:outputText>
                </p:column>


                <p:column headerText="Ações">
                    <p:commandButton id="btnUpdateAthlete" style="width: 25%;"
                                     action="#{athleteController.editAtlete(athlete)}" value="Editar"
                                     update="formAthlete"
                                     icon="fa fa-edit"/>

                    <p:commandButton id="btnDeleteAthlete"
                                     action="#{athleteController.deleteAthlete(athlete)}"
                                     value="Excluir"
                                     update="formAthlete"
                                     icon="fa fa-trash-o">



                        <p:confirm header="Confirmação" message="Tem certeza que deseja excluir o atleta?" icon="ui-icon-alert"/>


                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                             icon="ui-icon-check" />
                            <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no"
                                             icon="ui-icon-close" />
                        </p:confirmDialog>

                    </p:commandButton>

                </p:column>


            </p:dataTable>
        </h:form>


    </ui:define>

</ui:composition>
</html>
