<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
>

<ui:composition template="template.xhtml">

    <ui:define name="content">

        <h:form id="formClass">
            <p:panel id="printArea">
            <p:outputLabel value="Lista de presença" style="font-size: 250%; vertical-align: middle;"></p:outputLabel>
            <br/>
            <p:separator/>

            <p:messages id="messagesDetails" showDetail="false"/>

            <h:panelGrid columns="4" cellpadding="5" width="100%">


                <p:outputLabel for="class" value="Aula:"/>

                <p:calendar id="class"
                            pattern="dd/MM/yyyy"
                            showOn="none"
                            readonly="true"
                            value="${classController.date}"/>

            </h:panelGrid>


            <p:separator/>


            <p:dataTable id="athleteDataTable" var="athlete"
                         value="#{classController.athleteList}"
                         emptyMessage="Não foi encontrado nenhum atleta."
                         style="display:block; text-align:center">

                <p:column headerText="Nome">
                    <h:outputText value="#{athlete.name}">
                    </h:outputText>
                </p:column>

                <p:column headerText="Faixa">
                    <h:outputText value="#{athlete.graduation.description}">
                    </h:outputText>
                </p:column>

                <p:column headerText="Idade">
                    <h:outputText value="#{athlete.age}">
                    </h:outputText>
                </p:column>

                <p:column headerText="Presente">
                    <p:selectBooleanButton id="present" onLabel="Sim" offLabel="Não"
                                           style="width:60px" />


                </p:column>


            </p:dataTable>
            </p:panel>

            <br/>

            <p:commandButton id="btnPrintClass" style="width: 15%;"
                             value="Imprimir"
                             icon="fa fa-print">
                <p:printer target="printArea" />
            </p:commandButton>

            <br/>
        </h:form>


    </ui:define>

</ui:composition>
</html>
