<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="template.xhtml">

    <ui:define name="content">

        <h:form id="formEvent">
            <h:graphicImage library="images" name="atlhete.jpg" style="vertical-align: middle; width: 63px; "
                            alt="usuarioIcon"/>
            <p:outputLabel value="Evento" style="font-size: 250%; vertical-align: middle;"></p:outputLabel>
            <br/>
            <p:separator/>

            <p:messages id="messagesDetails" showDetail="false"/>

            <h:panelGrid columns="4" cellpadding="5" width="100%">


                <p:outputLabel for="description" value="Descrição:"/>
                <p:outputLabel for="location" value="Localização:"/>
                <p:outputLabel for="date" value="Data:"/>
                <p:outputLabel for="updated_at" value="Ultima atualização:"/>

                <p:inputText id="description" value="#{eventController.selectedEvent.description}"/>
                <p:inputText id="location" value="#{eventController.selectedEvent.location}"/>
                <p:calendar id="date"
                            pattern="dd/MM/yyyy"
                            value="#{eventController.selectedEvent.date}"
                            showOn="button"/>


                <p:calendar id="updated_at"
                            pattern="dd/MM/yyyy"
                            value="#{eventController.selectedEvent.updatedAt}"
                            showOn="none" readonly="true" />

                <p:outputLabel for="created_at" value=""/>
                <p:outputLabel for="id" value=""/>
                <p:outputLabel for="active" value=""/>


                <h:inputHidden id="created_at" value="#{eventController.selectedEvent.createdAt}"> <f:convertDateTime pattern="dd/MM/yyyy"/>  </h:inputHidden>

                <h:inputHidden id="id" value="#{eventController.selectedEvent.id}"></h:inputHidden>
                <h:inputHidden id="active" value="#{eventController.selectedEvent.active}"></h:inputHidden>
            </h:panelGrid>

            <br/>

            <p:commandButton id="btnSaveEvent" style="width: 15%;"
                             action="#{eventController.saveEvent}" value="Salvar"
                             update="formEvent"
                             icon="fa fa-save"/>
            <p:separator/>

            <br/>
            <br/>

            <p:outputLabel value="Pesquisar evento" style="font-size: 150%; vertical-align: middle;"></p:outputLabel>

            <p:panelGrid columns="3" cellpadding="5" width="100%">

                <p:outputLabel for="searchDescription" value="Descrição:"/>
                <p:outputLabel for="searchLocation" value="Localização:"/>


                <p:inputText id="searchDescription" value="#{eventController.searchedEvent.description}"/>

                <p:inputText id="searchLocation" value="#{eventController.searchedEvent.location}"/>


            </p:panelGrid>
            <br/>

            <p:commandButton id="btnSearchEvent" style="width: 15%;"
                             action="#{eventController.searchEvent}" value="Pesquisar"
                             update="formEvent"
                             icon="fa fa-search"/>


            <br/>
            <br/>

            <p:separator/>


            <p:dataTable id="eventDataTable" var="event"
                         value="#{eventController.eventList}" paginator="true" rowsPerPageTemplate="5,10,15"
                         emptyMessage="Não foi encontrado nenhum evento.">

                <p:column headerText="Descrição">
                    <h:outputText value="#{event.description}">
                    </h:outputText>
                </p:column>

                <p:column headerText="Local">
                    <h:outputText value="#{event.location}">
                    </h:outputText>
                </p:column>

                <p:column headerText="Data">
                    <p:calendar
                                pattern="dd/MM/yyyy"
                                value="#{event.date}"
                                showOn="none" readonly="true" />
                </p:column>


                <p:column headerText="Ações">
                    <p:commandButton id="btnUpdateEvent" style="width: 25%;"
                                     action="#{eventController.editEvent(event)}" value="Editar"
                                     update="formEvent"
                                     icon="fa fa-edit"/>

                    <p:commandButton id="btnDeleteEvent"
                                     action="#{eventController.deleteEvent(event)}"
                                     value="Excluir"
                                     update="formEvent"
                                     icon="fa fa-trash-o">



                        <p:confirm header="Confirmação" message="Tem certeza que deseja excluir o evento?"
                                   icon="ui-icon-alert"/>


                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes"
                                             icon="ui-icon-check" />
                            <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no"
                                             icon="ui-icon-close" />
                        </p:confirmDialog>

                    </p:commandButton>

                </p:column>


            </p:dataTable>
        </h:form>


    </ui:define>

</ui:composition>
</html>
