<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="template.xhtml">

    <ui:define name="content">
        <h:body>

            Olá, ${userController.user.name}
                <p:dataList id="birthdaysMonth" value="#{homeController.birthdaysList}" var="birthday" type="ordered"
                            emptyMessage="Sem aniversariantes.">
                    <f:facet name="header">
                      Aniversariantes do mês
                    </f:facet>
                    #{birthday.name}, #{birthday.formatBirthdate}, #{birthday.age} anos
                </p:dataList>

                <p:dataList id="events" value="#{homeController.eventList}" var="event" type="ordered"
                            emptyMessage="Sem eventos.">
                    <f:facet name="header">
                        Eventos do mês
                    </f:facet>
                    #{event.description}, [#{event.location}] , #{event.date}
                </p:dataList>

            <br/>
                <p:commandButton id="btnLogout" style="width: 15%;"
                                 action="#{userController.logout}" value="Sair"
                                 icon="fa fa-logout"/>




        </h:body>
    </ui:define>

</ui:composition>
</html>
