<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<ui:insert name="metadata"/>
<h:head>
    <f:facet name="first">
        <meta http-equiv="Content-Type"
              content="text/html; charset=iso-8859-1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>Spartanos TKD</title>
        <h:outputStylesheet library="css" name="default.css"/>
    </f:facet>
</h:head>
<h:body>
    <h:form id="formError">
        <div class="fundo">
            <div class="conteudo" style="height:700px;">
                <div style="position: relative; left: 35%;top: 5%;width: 350px">
                    <h1 style="padding-left: 40px;">Ops! O gato fez bangunça por aqui de novo x.x</h1>
                    <h:graphicImage library="images" style="padding-left: 15px;width: 300px;" name="cat.png"
                                    alt="set"/>

                    <p:messages id="messages" showDetail="false" style="width: 350px;" autoUpdate="true"
                                closable="true"/>
                    <p:commandButton id="button" action="#{errorController.returnHome}" style="width: 350px;"
                                     update="messages" value="Voltar" />
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </h:form>
</h:body>
</html>
