<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<ui:insert name="metadata"/>
<h:head>
    <f:facet name="first">
        <meta http-equiv="Content-Type"
              content="text/html; charset=iso-8859-1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>Spartanos TKD</title>
        <h:outputStylesheet library="css" name="default.css"/>
    </f:facet>
</h:head>
<h:body>


    <h:form id="formRegister">
    <h:graphicImage library="images" name="atlhete.jpg" style="vertical-align: middle; width: 63px; "
                    alt="usuarioIcon"/>
    <p:outputLabel value="Evento" style="font-size: 250%; vertical-align: middle;"></p:outputLabel>
    <br/>
    <p:separator/>

    <p:messages id="messagesDetails" showDetail="false"/>

    <h:panelGrid columns="4" cellpadding="5" width="100%">


        <p:outputLabel for="name" value="Nome:"/>
        <p:outputLabel for="login" value="Login:"/>
        <p:outputLabel for="password" value="Senha:"/>
        <p:outputLabel for="passwordConfirm" value="Confirmação de senha:"/>

        <p:inputText id="name" value="#{userController.newUser.name}"
                     required="true"
                     requiredMessage="Por favor, informe o nome"/>
        <p:inputText id="login" value="#{userController.newUser.login}"
                     required="true"
                     requiredMessage="Por favor, informe o login"/>
        <p:password id="password"
                    match="passwordConfirm"
                    requiredMessage="Por favor, informe uma senha."
                    validatorMessage="A senhas devem ser iguais."
                    feedback="true"
                    inline="true"
                    promptLabel="Digite uma senha:"
                    weakLabel="Fraca"
                    goodLabel="Média"
                    strongLabel="Forte"
                    value="#{userController.newUser.password}"
                    required="true">
        </p:password>
        <p:password id="passwordConfirm"
                    requiredMessage="Por favor, informe novamente a senha."
                    value="#{userController.newUser.password}"
                    required="true"/>

    </h:panelGrid>

    <br/>

    <p:commandButton id="btnSaveEvent" style="width: 15%;"
                     action="#{userController.register}" value="Salvar"
                     update="formRegister"/>
    <p:separator/>

    <br/>
    <br/>
    </h:form>

</h:body>
</html>
